{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}

    <div class="text-center title">
        <h1>Création d'un site</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ form_start(siteForm) }}

                {{ form_rest(siteForm) }}

                <div class="row justify-content-center">
                    <input class="btn btn-primary save_button round-button" type="submit" value="Enregistrer"/>
                    <a href="{{ path('home') }}" class="btn btn-danger round-button" role="button">Annuler</a>
                </div>
                {{ form_end(siteForm) }}
            </div>
        </div>
    </div>

{% endblock %}