<div id="home-header">
    <div class="row">
        <div class="col-md-4"><h1>Logo Sortir.com</h1></div>
        <div class="col-md-8 text-right">
            <a href="" class="link col-md-2 menu_link">Villes</a>
            <a href="" class="link col-md-2 menu_link">Sites</a>
            <a href="" class="link col-md-2 menu_link">Accueil</a>
            <a href="" class="link col-md-2 menu_link">Mon Profil</a>
            <a href="{{ path('app_logout') }}" class="link col-md-2 menu_link">Se déconnecter</a>
        </div>
    </div>
</div>