@import "compass/css3";

h1 , h2{
    font-weight: bold;
}

table{
    margin-top: 2rem;
    text-align: center;
}

body {
    background-color: #f7f8fc;
}

#container{
    width: calc(100% - 20px);
    padding: 20px;
}
.title{
    margin-bottom: 45px;
}
.content{
    margin-bottom: 35px;
}

.menu_link{
    padding-right: 0;
    padding-left: 8%;
}

.search_form_row{
    margin-top: 2%;
}
.checkbox_label{
    font-size: 23px;
}

#search input[type="submit"]{
    width: 260px;
    height: 100px;
    margin-top: 7%;
}

.image_calendar {
    display: inline-block;
    background-image: url("/img/calendar.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cross {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50% 50%;
    position: relative;
    transform: scale(1.3);
    left: 33%;
}
.cross::before{
     background: #888;
     position: absolute;
     display:block;
     content:'';
     width: 70%;
     height: 6%;
     top: 47%;
     left: 15%;
     transform: rotate(45deg);
    }
.cross::after {
    background: #888;
    position: absolute;
    display: block;
    content: '';
    width: 6%;
    height: 70%;
    left: 47%;
    top: 15%;
    transform: rotate(45deg);
}

.cross.plus, .cross.minus{
    position: absolute;
    top: 60%;
    left: 43%;
    cursor: pointer;
}

.cross.plus:hover, .cross.minus:hover{
    background-color: black;
}

.cross.plus::after, .cross.minus::after{
    transform: rotate(90deg);
}
.cross.plus::before{
    transform: rotate(90deg);
}

.cross.minus::before {
    display: none;
}

#table_home{
    max-height: 350px;
    overflow: auto;
}


.hide{
    display: none;
}

#buttonList{
    text-align: center;
}
.alert{
    text-align: center;
}
.switch_div {
    position: relative;
}
.event_form_date{
   background-image: url("/img/calendar.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 97%;
}

.red{
    color:red;
}

.search_button {
    margin-left:5px;
}

.save_button {
    margin-right:5px;
}