{% extends 'base.html.twig' %}




{% block body %}


    {% if is_granted('ROLE_ADMIN') %}
        <div class="row justify-content-center">
            <div class="col-md-5 col-sm-12">
                <h1>Register</h1>
                {{ form(registrationForm) }}
                {{ form(csvForm) }}
            <button class="btn btn-primary" onclick="window.location='{{ path('generateToken') }}';">Générer un token</button>
            </div>
        </div>


    {% endif %}

{% endblock %}
