{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ form(sendResetPasswordUser) }}
            </div>
        </div>
    </div>

{% endblock %}