{% extends 'base.html.twig' %}

{% block menu %}
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <h1>Logo Sortir.com</h1>
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ form(sendResetPasswordUser) }}
            </div>
        </div>
    </div>

{% endblock %}